@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 240 5% 7%;

    --palette-1: 0 100% 50%;
    --palette-2: 60 100% 50%;
    --palette-3: 120 100% 50%;
    --palette-4: 240 100% 50%;
    --palette-5: 300 100% 50%;
  }
  
  .dark {
    --background: 240 5% 7%;
    --foreground: 0 0% 96%;
  }

  ::selection {
    background-color: color-mix(in hsl longer hue, currentColor 10%, hsl(0, 0%, 45%, 1));
  } 
}   